<nav id="nav">
  <div class="innertube">
    <table class="logo">
      <tr>
	<td><a href="/"><img src="piax-logo.png" width="80"/></a></td><td></td><td><p class="logo">PIAX distributed computing framework</p></td>
      </tr>
    </table>
    <ul>
      <li><a href="/">Top</a></li>
      <li><a href="download.html">Downloads</a></li>
      <li><a href="docs.html">Documents</a></li>
      <li><a href="develop.html">Developments</a></li>
      <li><a href="pub.html">Publications</a></li>
      <li><a href="https://github.com/piax/piax">GitHub</a></li>
    </ul>
  </div>
</nav>
